<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>

  <main class="container">
      <img src="../../public/assets/fotolinda.jpg">
    <h1><%= mensagem %></h1>
    <p>Este site foi desenvolvido por Vivian Peres da turma 15, grupo 4, para explicar MVC na prática. Valeu pela atividade! </p>
</main>

  <%- include('../partials/footer') %>
</body>
</html>